<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quia amet pariatur ab laudantium, reiciendis illo possimus excepturi odio quo, est, ut tempore rem. Qui earum deserunt et voluptatum laboriosam!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quia amet pariatur ab laudantium, reiciendis illo possimus excepturi odio quo, est, ut tempore rem. Qui earum deserunt et voluptatum laboriosam!</p>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem quia amet pariatur ab laudantium, reiciendis illo possimus excepturi odio quo, est, ut tempore rem. Qui earum deserunt et voluptatum laboriosam!</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>